* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    position: relative;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 80px;
    background-color: #D900FF;
    border: 6px solid #FF00FF;
    border-radius: 800px;
    box-shadow: 0 4px 10px;
}

body, h1 {
    font-family: "Tektur", serif;
}

.Tarefa1 {
    font-family: "Nova Script", serif;

}

.Tarefa2 {
    font-family: "Nova Script", serif;
}

li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 5px solid #FF00FF;
    border-radius: 6px;
    font-size: 18px;
}

.completado {
    text-decoration: line-through 2px;
    text-decoration-color: white;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.background-animado {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('/imagens/retrowave.png') no-repeat center center/cover;
    animation: moverFundo 20s ease-in-out infinite alternate;
    z-index: -1;
}

@keyframes moverFundo {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 100%;
    }
}

